#pay attention to the comments inline !!


install
text
reboot
#uncomment the #cdrom line and comment the url one for installs from DVD
#cdrom
#use a mirror close to you or even better, the local one provided by your organization
#replace x86_64 with i386 for 32bit installs
url --url http://mirror.centos.org/centos/6/os/x86_64
lang en_US.UTF-8
keyboard us
skipx
network --device eth0 --bootproto dhcp
#do not forget to change the password !
rootpw test1234
firewall --enabled
selinux --permissive
authconfig --enableshadow --enablemd5
timezone Europe/Bucharest
bootloader --location=mbr
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
clearpart --all --initlabel
part /boot --fstype ext3 --size=250
part pv.2 --size=5000 --grow 
volgroup VolGroup00 --pesize=32768 pv.2
logvol / --fstype ext4 --name=LogVol00 --vgname=VolGroup00 --size=1024 --grow
logvol swap --fstype swap --name=LogVol01 --vgname=VolGroup00 --size=256 --grow --maxsize=512

%packages --nobase
#use the next line instead of the previous one if you do not care about the doc files
#%packages --nobase --excludedocs
coreutils
yum
rpm
e2fsprogs
lvm2
grub
openssh-server
openssh-clients
dhclient
yum-presto
-atmel-firmware-1.3-7.el6.noarch
-b43-openfwwf-5.2-4.el6.noarch
-cronie-1.4.4-2.el6.i686
-cronie-anacron-1.4.4-2.el6.i686
-crontabs-1.10-32.1.el6.noarch
-ipw2100-firmware-1.3-11.el6.noarch
-ipw2200-firmware-3.1-4.el6.noarch
-ivtv-firmware-20080701-20.2.noarch
-iwl1000-firmware-128.50.3.1-1.1.el6.noarch
-iwl3945-firmware-15.32.2.9-4.el6.noarch
-iwl4965-firmware-228.61.2.24-2.1.el6.noarch
-iwl5000-firmware-8.24.2.12-3.el6.noarch
-iwl5150-firmware-8.24.2.2-1.el6.noarch
-iwl6000-firmware-9.176.4.1-2.el6.noarch
-iwl6050-firmware-9.201.4.1-2.el6.noarch
-libertas-usb8388-firmware-5.110.22.p23-3.1.el6.noarch
-mysql-libs-5.1.47-4.el6.i686
-postfix-2.6.6-2.el6.i686
-rt61pci-firmware-1.2-7.el6.noarch
-rt73usb-firmware-1.8-7.el6.noarch
-sudo-1.7.2p2-9.el6.i686
-sysstat-9.0.4-11.el6.i686
-yum-utils-1.1.26-11.el6.noarch
-zd1211-firmware-1.4-4.el6.noarch
-xorg-x11-drv-ati-firmware
-info
%end
%post
#something brings this package in during install and eludes the "-" install option
rpm -e system-config-firewall-base
%end
